.lp .nav {
  margin-left: 0;
  margin-bottom: 20px;
  list-style: none;
}
.lp ul, ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

.lp .navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0 10px 0 0;
}

.lp .navbar .nav>li{
  float: left;
}

.lp .dropup,
.lp .dropdown{
  position: relative;
}
li {
  line-height: 20px;
}

.lp .navbar .nav>li>a{
  float: none;
  padding: 10px 15px 10px;
  color: #777777;
  text-decoration: none;
  text-shadow: 0 1px 0 #ffffff;
}

.lp .nav>li>a {
  display: block;
}

.lp .dropup .dropdown-menu,
.lp .navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}

.lp .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.lp .navbar .nav.pull-right {
  float: right;
  margin-right: 0;
}

/* from jquery UI */
  

.leaflet-playback-control{
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 700;
}

footer.lp {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 10px;
}

.lp .transport {
  margin: 0 auto;
  width:768px;
}

.lp .navbar {
  margin-bottom: 0;
  overflow: visible;
  justify-content: center;
}

.lp .navbar-inner {
  min-height: 40px;
  padding-right: 0;
  padding-left: 0;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
    background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.lp .navbar-inner .nav{
  margin: 0;
  padding: 0;
  position: relative;
  left: 0;
  display: block;
  float: left;
  list-style: none;
}

.lp #play-pause {
  /* width: 18px; */
}

.lp #speed-btn {
  width: 68px;
}

.lp .ui-slider {
  margin: 13px;
}

.lp #time-slider {
  border-bottom-right-radius: 4px;

  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border: 1px solid #aaaaaa;
  background: #ffffff 50% 50% repeat-x;
  color: #222222;
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em;
  height: .8em;
  position: relative;
  text-align: left;
  width:370px;
  margin: 13px;
}

.lp .time-slider-handle{
  border: 1px solid #d3d3d3;
  background: #e6e6e6 50% 50% repeat-x;
  font-weight: normal;
  color: #555555;

  top: -.3em;
  margin-left: -.6em;
  position: absolute;
  z-index: 2;
  width: 1.2em;
  height: 1.2em;
  cursor: default;
  color: #222222;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.lp #calendar {
  margin: 5px;
}

.leaflet-control-layers-list {
  margin-bottom: 0;
}

.lp .speed-menu {
  min-width: 60px;
}

.lp .dropdown-menu {
  padding: 5px;
  text-align: center;
}

.lp #speed-slider {
  margin-left: auto;
  margin-right: auto;
  width: .8em;
  height: 100px;
  writing-mode: bt-lr; /* IE */
  -webkit-appearance: slider-vertical; /* WebKit */
}

.lp .navbar .btn,
.lp .navbar .btn-group {
  margin-top: 0;
  padding: 0;
}

.lp .navbar .nav > li > a.clock {
  padding: 0 3px 0 3px;
  text-align: center;
  margin-left:4px;
  margin-right:4px;
}

.lp li.ctrl {
  background-color: #f5f5f5;
  *background-color: #e6e6e6;
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-right: 1px solid #d4d4d4;

  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.lp .pull-right li.ctrl {
  border-right: 0;
  border-left: 1px solid #d4d4d4;
}

.lp li.ctrl:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
  /* Buttons in IE7 don't get borders, so darken on hover */

  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

/*.lp li.ctrl:hover a {
  color: #a9ff00;
}*/

.lp li.ctrl:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
}

/*Bootstrap interfering with leaflet*/
input {
  vertical-align: baseline;
}

.lp label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  cursor: pointer;
}

.navbar .nav > li > .dropdown-menu:before,
.bootstrap-timepicker-widget.dropdown-menu:before {
  top: auto;
  bottom: -7px;
  border-top: 7px solid #ccc;
  border-bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.navbar .nav > li > .dropdown-menu:after,
.bootstrap-timepicker-widget.dropdown-menu:after {
  top: auto;
  bottom: -6px;
  border-top: 6px solid #ffffff;
  border-bottom: 0;
}

.open>.dropdown-menu {
  display: block;
}

